.body {
  background-color: #212529;
}

.performance {
  max-width: 1200px;
  margin: 0 auto;
  margin-bottom: 60px;
}

.logo-navbar {
  width: 45px;
}

.performance_text1 {
  color: #FA8072;
  font-size: 30px;
}

.performance_text2 {
  color: white;
  float: right;
  font-size: 25px;
}

.whoAmI {
  max-width: 1200px;
  margin: 0 auto;
}

.whoAmI_text {
  color: #FA8072;
  text-align: center;
}

.text_sec2 {
  color: white;
}

.whoAmI_container {
  position: relative;
}

.whoAmI_text {
  font-size: 19px;
  color: white;
}

.whoAmI_img {
  margin-right: 30px;
}

.icon1 {
  position: absolute;
  left: -70px;
  top: 55px;
  width: 54px;
  height: 56px;
}

.icon2 {
  position: absolute;
  left: -70px;
  top: 14px;
  width: 54px;
  height: 56px;
}

.icon3 {
  position: absolute;
  left: -68px;
  top: 34px;
  width: 54px;
  height: 56px;
}

.resalt {
  max-width: 1200px;
  margin: 0 auto;
}

.resalt_container {
  display: flex;
  flex-direction: column;
}

.resault_text-rotate {
  display: inline-flex;
  align-content: space-between;
}

.slider {
  overflow: hidden;
}
.slider__line {
  display: flex;
  transition: all ease 1.5s;
  margin: 0 auto;
}

.btn-flex {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.resal_text {
  color: #FA8072;
  font-size: 25px;
}

.resal_text2 {
  margin-top: 30px;
  color: white;
  font-size: 17px;
}

.marafon {
  max-width: 1200px;
  margin: 0 auto;
  margin-top: 30px;
}

.marafon_text {
  color: #FA8072;
  font-size: 25px;
}

.marafon_container {
  display: flex;
  flex-direction: row;
  margin-top: 15px;
}

.btn {
  background-color: #FA8072;
  color: white;
  border-radius: 10px;
}

.card-1 {
  border: 3px solid white;
  background-color: #212529;
}

.card-text {
  color: white;
  font-size: 17px;
  line-height: 45px;
}

.card-3 {
  border: 3px solid white;
  background-color: #212529;
}

.marafon_img {
  background: url(/img/Adila-box.jpg) no-repeat center;
  min-height: 100%;
  min-width: 100%;
  border: 1px solid #FA8072;
  filter: blur(1px);
}

.contacts {
  max-width: 1200px;
  margin: 0 auto;
}
.contacts_content {
  display: flex;
  flex-direction: row;
}

.right_contacts {
  position: relative;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

.block {
  display: block;
}

.icons-box {
  display: flex;
  flex-direction: row;
}

.contacts_text1 {
  color: #FA8072;
  font-size: 25px;
}

.contacts_text2 {
  color: white;
  font-size: 17px;
}

.icon {
  display: inline-flex;
}

.icons__item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border: 1px solid black;
  border-radius: 100px;
  margin-right: 17px;
  color: #FA8072;
  cursor: pointer;
}
.icons__item:last-child {
  margin-right: 0;
}
.icons__item i {
  font-size: 28px;
}

.fa-instagram {
  color: #FA8072;
}

.fa-vk {
  color: #FA8072;
}

.fa-telegram {
  color: #FA8072;
}

.form-field {
  position: relative;
  display: block;
  outline: none;
  border-radius: 30px;
  margin-bottom: 10px;
  border: 1px solid black;
}

.form-button {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 18px;
  background-color: #FA8072;
  border-radius: 25px;
  margin-bottom: 60px;
  cursor: pointer;
  box-shadow: 0 5px 0 #161b13;
  transition: background-color 0.5s esea 0s;
  position: relative;
  top: 0;
}
.form-button:hover {
  background-color: #5dd15d;
}
.form-button:active {
  top: 3px;
  box-shadow: 0 2px 0 #161b13;
}

.overlay {
  position: fixed;
  width: 100%;
  height: 1250vh;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
}

.popup {
  position: relative;
  width: 270px;
  height: 249px;
  margin: 0 auto;
  left: 20vh;
  top: 50vh;
  transform: translate(-50%, -50%);
  padding: 40px;
  background-color: #2e922e;
  border: 1px solid black;
  z-index: 5;
  border-radius: 30px;
}

.close-popup {
  position: absolute;
  top: 15px;
  right: 15px;
  width: 23px;
  height: 23px;
  cursor: pointer;
}

.close-popup:before {
  content: "";
  background-color: #000;
  position: absolute;
  height: 1px;
  width: 31px;
  top: 11px;
  left: -4px;
  transform: rotate(-45deg);
}

.close-popup:after {
  content: "";
  background-color: #000;
  position: absolute;
  height: 1px;
  width: 31px;
  top: 11px;
  transform: rotate(45deg);
  left: -4px;
}

@media (max-width: 991px) {
  .marafon_img {
    display: none;
  }
  .card-text {
    line-height: 20px;
  }
  .container {
    margin: 0 auto;
  }
}/*# sourceMappingURL=Style.css.map */